@font-face {
  font-family: 'inter';
  src: url("./Inter-Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'inter';
  src: url("./Inter-Medium.ttf") format('ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'inter';
  src: url("./Inter-VariableFont.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
}